<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

        {%- assign navnodes = site.data.navigation.nodes -%}
        {%- assign navLevel = 0 -%}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
              {%- include navtree.html nodes=navnodes level=navLevel location="dropdown" -%}
          </ul>
        </div>
      </div>
    </nav>

    <div class="py-5">
      <div class="container page-content pt-5">
          {{ content }}
          <div class="card border-primary mb-3">  
              <div class="card-header">Test Logs</div>
              <div class="card-body">
                {% comment %}
                {%- assign navnodes = site.data.navigation.nodes -%}
                <h4 class="card-title">Nav tree content</h4>  
                {% include navtree.html nodes=navnodes %}
                {% endcomment%}
                <h4 class="card-title">site.data.navigation.nodes</h4>  
                {%- assign actPages = site.data.navigation.nodes -%}
                {%- for actPage in actPages -%}
                  Type: {{actPage.type}} </br>
                  Path: {{actPage.path}} </br>
                  Link: {{actPage.link}} </br>
                  {%- if actPage.subpages -%}
                    {%- for subPage in actPage.subpages -%}
                      --Type: {{subPage.type}} </br>
                      --Path: {{subPage.path}} </br>
                      --Link: {{subPage.link}} </br>
                      </br>
                    {%- endfor -%}
                  {%- endif -%}
                </br>  
                {%- endfor -%}

                <h4 class="card-title">site.pages</h4>  
                {%- assign pages = site.pages -%}
                {%- for pg in pages -%}
                  {%- if pg.title -%}
                    Path: {{pg.path}} </br>
                    Title: {{pg.title}} </br>
                    Url: {{pg.url}} </br>
                    </br>
                  {%- endif -%}
                {%- endfor -%}

              </div>
          </div>
      </div>

    </div>

  </body>

</html>
